body {
    font-family: Avenir;
    font-size: 14px;
    color: black;
    margin: 10pt;
    padding: 10pt;
    text-align: justify;
}

img {
    margin: 3pt 10pt;
    float: right;
}

h1 {
    color: rgb(255, 27, 28);
    font-size: 18px;
    text-align: center;
}

h3 {
    font-size: 14px;
    color: rgb(255, 27, 28);
}

a {
    color: rgb(255, 27, 28);
    text-decoration: none;
}

ul {
    margin-left: 0px;
    padding-left: 18px;
}

li {
    margin-bottom: 8px;
    margin-left: 0px;
    padding-left: 0px;
}